---
layout: article
title: ! 'Kansas City Ruby User Group: Kyle J Ginavan on Progressive Enhancement'
post_date: 2010-02-12
---
Presentation: <a href="http://twitter.com/kylejginavan">Kyle Ginivan</a> on Progressive Enhancement
<blockquote><strong>Progressive enhancement</strong> is a strategy for web  design that emphasizes accessibility, semantic markup, and external  stylesheet and scripting technologies. Progressive enhancement uses web  technologies in a layered fashion that allows everyone to access the  basic content and functionality of a web page, using any browser or  Internet connection, while also providing those with better bandwidth or  more advanced browser software an enhanced version of the page.
<!--more-->
<a href="http://en.wikipedia.org/wiki/Progressive_enhancement">http://en.wikipedia.org/wiki/Progressive_enhancement</a></blockquote>
<div style="text-align:center">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="500" height="281" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=9403827&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" /><embed type="application/x-shockwave-flash" width="500" height="281" src="http://vimeo.com/moogaloop.swf?clip_id=9403827&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" allowscriptaccess="always" allowfullscreen="true"></embed></object>></div>

<a href="http://vimeo.com/9403827">Kansas City Ruby Users Group | February 2010 | Kyle J. Ginavan | Progressive Enhancement | kcrug.org</a> from <a href="http://vimeo.com/wesgarrison">Wes Garrison</a> on <a href="http://vimeo.com">Vimeo</a>.
<h3>Resources:</h3>
Nicole Sullivan on Object Oriented CSS
<ul>
	<li>Slides: <a href="http://www.slideshare.net/stubbornella/object-oriented-css" target="_blank">http://www.slideshare.net/stubbornella/object-oriented-css</a></li>
	<li>Code: <a href="http://wiki.github.com/stubbornella/oocss/" target="_blank">http://wiki.github.com/stubbornella/oocss/</a></li>
</ul>
Other articles:
<ul>
	<li>A List Apart: <a href="http://www.alistapart.com/articles/understandingprogressiveenhancement/">Understanding Progressive Enhancement</a></li>
	<li>Wikipedia: <a href="http://en.wikipedia.org/wiki/Progressive_enhancement">Progressive Enhancement</a></li>
</ul>
