---
layout: article
title: Back Up, People!
post_date: 2010-09-02
---
It's easy. It's safe. It's secure.

Did you know that 93% of all companies that suffer significant data loss close down within 5 years!?

Even if you just have a home computer you likely have some  family photos, music, term papers, and financial data. What happens if you lose all of it?

<a href="http://databasically.com/unlimited-backup">Personal Computer Backup</a>

<a href="http://mozy.com/pro?sub=databasically">Business Computer and Server Backup</a>

Or contact us for consulting and help customizing the right solution for you.
