---
layout: article
title: Visualizing a 140,000 computer botnet
post_date: 2012-10-16
---
F-Secure <a href="http://www.f-secure.com/weblog/archives/00002430.html">posted</a> about the ZeroAccess botnet and included some pictures showing where the infected computers are.

United States:
<a href="http://databasically.com/wp-content/uploads/2012/10/ZeroAccessGoogleEarthUSA756x464.png"><img src="http://databasically.com/wp-content/uploads/2012/10/ZeroAccessGoogleEarthUSA756x464.png" alt="" title="ZeroAccess Botnet USA" width="756" height="464" class="aligncenter size-full wp-image-710" /></a>

Europe:
<a href="http://databasically.com/wp-content/uploads/2012/10/ZeroAccessGoogleEarthEurope756x464.png"><img src="http://databasically.com/wp-content/uploads/2012/10/ZeroAccessGoogleEarthEurope756x464.png" alt="" title="ZeroAccess Botnet Europe" width="756" height="464" class="aligncenter size-full wp-image-709" /></a>
