---
layout: article
title: On Writing
post_date: 2014-01-01
---
<p>It's a new year and with that come the flurry of resolutions. This year, we say, I'll go to bed earlier, or go to bed later, or only hit snooze once.  I'll eat better, exercise more, be happier. I'll blog more, I'll write a book. I'll start that project, go on that trip, climb that mountain, lay on that beach.</p>

<p>For a while, I've wanted to write more. Well, I thought I wanted to write more. Maybe it's that I liked the <i>idea</i> that I would write more.  Why? To leave a mark. To force myself to actually think about what I believe about a subject and then to be able to explain it well enough to commit it to paper. Smart people say it has a great way to connect with others, and I love the act of storytelling so much that I want to practice it.  I'm not sure, but it's some of these plus something a little deeper that I want to think about.</p>

<p>While I actually started doing this a little more before the new year, I'm going to step it up. Luckily, I've done very little regular writing so the bar has been set very low.  I'm merely aiming for a post a week, be it technical, something short, or something longer as a response to something else.</p>

<p>It's like this: A friend of a friend just finished his doctorate, which required that he wrote a thesis. While discussing what he wrote, I asked him about the process of getting it done and his reply fascinated me.  He said he had a rule: he had to write at least one sentence a day.  It didn't matter if he was on vacation, on holiday, sick, drunk, hungover, had an exam, or anything. Every day; one sentence. Some days, it was just that, he put down his sentence.  But invariably, once he wrote one sentence, he would see a part of the outline that needed to be fleshed out, or think about a paragraph he was struggling to write and now he had a better idea of the explanation.  Soon enough, his thesis was ready for review and he scheduled an appointment. When he showed up, no one took him seriously. "No one gets that far so fast, it takes much longer to write a thesis." This surprised him, because he didn't think he'd been particularly fast. Some days, he only wrote one sentence, after all.  But it was the consistency that mattered.</p>

<p>Another feeling I want to experience is actually finishing and shipping something. Most of the projects I currently work on have no end in sight, they just keep going. So, I want a little bit of working on something, finishing it, and being done with it.</p>

<p>Naturally, I immediately wanted to start making a page on this site that can show exactly how consistent I am (or not!) However, I want to err on the side of <i>actually finishing</i> this, so that will have to wait for another day.</p>