---
layout: article
title: how to recover a dropped stash in git
---
<p>Sometimes, you use <code>git stash</code> to save some changes.  Then, you <code>git apply</code> them, which puts them back in your working copy and then gets rid of them.</p>

<p>Say you need those changes.  They were in there at some point, how do you get them back?</p>

<code>This is code.</code>