---
layout: article
title: Git Training
---

%p
  I am available for on-site training for teams.

%p
  Is your team ready to make the switch to git? Do you have a team of developers that needs to get up and running?  Or, have you used git personally and want to bring it to work?

%h4 Format
%p
  Typically, I run training on two days. Day one, we get everyone set up and start explaining git and how it's different.

  What we cover is highly dependent on how far your team is on your git journey.

  Day Two, I come back a week or two later and we spend a day on workflows. Once developers have used git for a while, they have better questions than if we do these days back-to-back.

%h4 Topics: Getting started
%ul
  %li Gettig git set up
  %li Git configuration, locally and globally
  %li Make your first repository
  %li Git has three stages: what are they and how do we move between them?
  %li Adding and committing changes
  %li How git handles moves and renames
  %li Reviewing history
  %li Pushing and pulling code to other places
  %li Branches
  %li Merge, rebase, and conflict resolution
  %li Getting out of trouble / undoing changes
  %li <code>git stash</code> and <code>git tag</code>

%h4 Topics: Advanced

%ul
  %li Branching strategies for development
  %li Development workflows
  %li Options with <code>branch pull</code>
  %li Rearranging history
  %li Using aliases to build custom commands
  %li Redo and Undo
  %li Resolving conflicts once
  %li Searching change history
  %li Rebase interactively
  %li How are commits stored

#form
  %div{:style => "text-align: center;"}
    %a.btn.btn-large{:href=>"#", :style => "font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 300%; padding: 20px; background-color: #E01B00; background-image: none; color: #ffffff;", :onclick => "return false;"}
      Talk to me about training for git

  %form#form5#contact-form{:name => "form3", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :novalidate => "", :action => "https://databasically.wufoo.com/forms/qolk1p81nhqy4e/#public"}
    %fieldset
      .row
        .holder.span8
          .message
            .top
            .contents
              #alert
            .bottom
        .field.span8
          %input#Field3.input-text.m-wrap.m-ctrl-large{:name => "Field11", :type => "text", :value => "", :tabindex => "1", :onkeyup => "", :placeholder => "Your name"}/
        .field.span8
          %input#Field4.input-text.m-wrap.m-ctrl-large{:name => "Field3", :type => "email", :spellcheck => "false", :value => "", :maxlength => "255", :tabindex => "2", :placeholder => "Your email"}/
        .field.span8
          %textarea#Field7.input-textarea.m-wrap.m-ctrl-large{:name => "Field4", :spellcheck => "true", :tabindex => "3", :onkeyup => "", :value => "", :placeholder => "How can I help you with git?"}
        .field.span8
          %input.m-btn.blue#saveform{:name => "saveForm", :type => "submit", :value => "Send"}
      %ul
        %li.hide
          %label{:for => "comment"} Do Not Fill This Out
          %textarea#comment{:name => "comment", :rows => "1", :cols => "1"}
          %input#idstamp{:type => "hidden", :name => "idstamp", :value => "mWtb4Y/L1GSTxGu5tBVDTcip5kXEbJGjLX+YJQ7060g="}



