---
layout: article
title: ! 'KC Ruby RTanque League'
---

%h2 About


%p This is a work in progress for the Kansas City Ruby group's rtanque competition, starting June 23, 2013.
%ul
  %li
    %a{:href => "#about-rtanque"} About rtanque
  %li
    %a{:href => "#schedule"} Schedule
  %li
    %a{:href => "#rules"} Rules
  %li
    %a{:href => "#eligibility"} Eligibility
  %li
    %a{:href => "#how-to-submit"} How to submit
  %li
    %a{:href => "#results"} Results
  %li
    %a{:href => "#prizes"} Prizes
%h2
  %a.anchor{:href => "#about-rtanque", :name => "about-rtanque"}>
    %span
  About rtanque
%blockquote
  %p What is this? RTanque is a game for ( Ruby ) programmers. Players program the brain of a tank and then send their tank+brain into battle with other tanks. All tanks are otherwise equal.
%p
  More details on
  = succeed "." do
    %a{:href => "https://github.com/awilliams/RTanque"} the rtanque github repo
%h2
  %a.anchor{:href => "#schedule", :name => "schedule"}>
    %span
  Schedule
%p
  Rounds will be run on Sunday nights, starting June 23, 2013.  We will do a fresh pull of every
  = succeed "," do
    %a{:href => "#how-to-submit"} bot that has been submitted
  run each bot against each other bot, and post the results.
%p We'll have 4 weekly rounds, where you can change your code to make your bot better. Average placement will determine the winner!
%p We're planning on recording the the matches so that you can playback and watch your bot's performance.
%p Bot code will not be made public by default.
%h2
  %a.anchor{:href => "#rules", :name => "rules"}>
    %span
  Rules
%ul
  %li Don't cheat.
  %li You can work with someone else.
  %li You can submit multiple entries, but they can't collude.
%h2
  %a.anchor{:href => "#eligibility", :name => "eligibility"}>
    %span
  Eligibility
%p Participation is limited to the Kansas City based community.  If you work remotely for a Kansas City based company, we'll consider you.
%h2
  %a.anchor{:href => "#how-to-submit", :name => "how-to-submit"}>
    %span
  How to submit
%ul
  %li
    upload your bot's code to
    %a{:href => "https://gist.github.com"} a private gist
    %ul
      %li bot filename must end in .rb
  %li
    fill out
    %a{:href => "http://bit.ly/2013-kcruby-rtanque-signup"} this google form
    with the following information:
    %ul
      %li your name
      %li gist ID from above
      %li twitter handle
%h2
  %a.anchor{:href => "#results", :name => "results"}>
    %span
  Results
%h3 Round 1: June 23rd, 2013

%h3 Round 2: June 30th, 2013

%h3 Round 3: July 7th, 2013

%h3 Round 4: July 14th, 2013
%h2
  %a.anchor{:href => "#prizes", :name => "prizes"}>
    %span
  Prizes
%p To be determined.







