.container
  .row
    %blockquote.blockquote-reverse
      %p
        Established 2005 &middot; Databasically &copy;
        = Time.now.year
  .row
    %p.small.pull-right
      =link_to 'sitemap', '/sitemap.xml'


= partial 'layouts/google_analytics'
