%blockquote
  %p
    %div


%blockquote.blockquote-reverse
  %p
    %a.btn.btn-primary.btn-sm{:href => "/contact"} Get in touch
    Established 2005 &middot; Databasically &copy;
    = Time.now.year


= partial 'layouts/google_analytics'

