%footer.footer
  .container
    %p.pull-left.muted
      Established 2005 &middot; Databasically &copy;
      = Time.now.year

    %p.pull-right
      %a{:href => "#"} Back to top


= partial 'layouts/google_analytics'
