= partial 'layouts/head'
%body
  .container-narrow
    .masthead
      %ul.nav.nav-pills.pull-right
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/articles"} Articles
        %li
          %a{:href => "/contact"} Contact
      %h3.muted
        %a{:href => '/'} Databasically

    .row-fluid
      .span12.article
        %h1= current_page.data.title
        - if current_page.data.post_date
          %h3.muted.pull-right.post_date
            =current_page.data.post_date.strftime('%b %e %Y')
        = yield

  %footer.footer
    .container
      %p.pull-right
        %a{:href => "#"} Back to top
  :javascript
    // Function to slabtext the H1 headings
    function slabTextHeadlines() {
        $("h1").slabText({
            // Don't slabtext the headers if the viewport is under 380px
            "viewportBreakpoint":380,
            "minCharsPerLine":9
        });
    };

    $(window).load(function() {
        slabTextHeadlines();
    });
  = partial 'layouts/google_analytics'
