= partial 'layouts/head'
%body
  .container
    .row
      .span12.article
        %h1= current_page.data.title
        - if current_page.data.post_date
          %h3.muted.pull-right.post_date
            =current_page.data.post_date.strftime('%b %e %Y')
        = yield

  = partial 'layouts/footer'
