= partial 'layouts/head'
%body
  .navbar.navbar-static-top
    .navbar-inner
      .container
        %a.navbar-brand{:href => "/"}
          %img{:src => "images/databasically-logo-with-text.png", :alt => "logo"}
        %ul.nav.nav-pills.pull-right
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/articles"} Articles
          %li
            %a{:href => "#"} Contact

  .container
    = yield

  = partial 'layouts/footer'
