= partial 'layouts/head'
%body
  .navbar.navbar-static-top
    .navbar-inner
      .container
        %a.navbar-brand
          %img{:src => "images/databasically-logo-with-text.png", :alt => "logo"}
        %ul.nav.pull-right
          %li
            %a{:href => "index.html"} <- go back
  
  .container
    = yield  

  %footer.footer
    .container
      %p.pull-right
        %a{:href => "#"} Back to top
  = partial 'layouts/google_analytics'
