= partial 'layouts/head'
%body
  .navbar.navbar-static-top
    .navbar-inner{:style => "-webkit-box-shadow: none; background-image: none;"}
      .container
        %a.navbar-brand
          %img{:src => "images/databasically-logo-with-text.png", :alt => "logo"}
        %ul.nav.nav-pills.pull-right
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/articles"} Articles
          %li
            %a{:href => "#"} Contact
  
  .container
    = yield  

  %footer.footer
    .container
      %p.pull-right
        %a{:href => "#"} Back to top
  = partial 'layouts/google_analytics'
