<div class="row">
  <div class="span4 offset1 panel panel-1">
    <%= link_to '<br>&quot;I just want it to work&quot;'.html_safe, '#' %>
    <div class="hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div>
  <div class="span4 panel panel-2">
    <%= link_to '<br>Do you have a question?'.html_safe, '#' %></div>
  <div class="span3"></div>
</div>
<div class="row">  
  <div class="span4 offset1 panel panel-3"><%= link_to '<br>How can we help?'.html_safe, '#' %></div>
  <div class="span4 panel panel-4"><%= link_to '<br>Need a helping hand?'.html_safe, '#' %></div>
  <div class="span3"></div>  
</div>


