.row.headline
  %h1 This is the homepage.
.row
  .span4
    %h3 No Risk
    %p
      %small We offer risk free trial to all customers and if you're not happy, just cancel it - anytime.
  .span4
    %h3 Awesome Support
    %p
      %small We offer 24x7 hours online support, included in every plan. Support that cares.
  .span4
    %h3 Client Says
    %p
      %small Chad Metcalf loves haml, and hates to see erb in a new project.
      %br
      ="-- Frank Customer"