<div class="row headline">
  <h1>This is the homepage.</h1>
</div>
<div class="row">
  <div class="span4">
    <h3>No Risk</h3>
    <p><small>We offer risk free trial to all customers and if you're not happy, just cancel it - anytime.</small> </p>
  </div>
  <div class="span4">
    <h3>Awesome Support</h3>
    <p><small>We offer 24x7 hours online support, included in every plan. Support that cares.</small> </p>
  </div>
  <div class="span4">
    <h3>Client Says</h3>
    <p><small>"It has saved me a lot of hours, highly recommend for all freelancers"</small> -- Mr. John </p>
  </div> 
</div> 
