---
layout: article
title: Lowdown
excerpt: !binary |-
  QXdhcmQtd2lubmluZyBhcHBsaWNhdGlvbiBjb21wbGV0ZWQgaW4gNDggaG91
  cnMgZm9yIFJhaWxzIFJ1bWJsZQ0KPHNwYW4gc3R5bGU9Im1hcmdpbi10b3A6
  MjBweCI+TG93ZG93biBoZWxwcyBrZWVwIHlvdXIgZGV2ZWxvcG1lbnQgcHJv
  amVjdCBvbiB0cmFjayBieSBoZWxwaW5nIGRldmVsb3BlcnMsIGRlc2lnbmVy
  cywgcHJvamVjdCBtYW5hZ2VycyBhbmQgb3duZXJzIGFsbCBmb2N1cyBvbiBz
  YXRpc2Z5aW5nIHN0YWtlaG9sZGVycy48L3NwYW4+
post_date: 2000-01-01 01:01:11.000000000 -06:00
---
An original, award-winning application completed for Rails Rumble 2009.

Lowdown (<a href="http://lowdownapp.com">lowdownapp.com</a>) helps keep your development project on track by helping  developers, designers, project managers and owners all focus on  satisfying stakeholders.

Built along with <a href="http://www.prime-motif.com/">Sean Cribbs</a> + <a href="http://www.scottymoon.com/">Scotty  Moon</a> + <a href="http://spurrd.com">Paul du Coudray</a>

We built Lowdown to use daily in our client work, allowing us to collaborate on features and time estimates together.
<p style="text-align: center;"><a class="lightbox" href="http://databasically.com/wp-content/images/lowdown-screen.png"><img class="aligncenter" title="Lowdown 1" src="http://databasically.com/wp-content/images/lowdown-screen.png" alt="" width="600" height="337" /></a></p>

<p style="text-align: center;"><a href="http://databasically.com/wp-content/uploads/2010/03/lowdown-2-full.png" class="lightbox"><img class="aligncenter size-full wp-image-283" title="lowdown-2" src="http://databasically.com/wp-content/uploads/2010/03/lowdown-2-small.png" alt="Overview of Lowdown features, click to see more" width="600" height="364" /></a></p>
