---
layout: article
title: ! 'Improved Windows Task Manager: Process Explorer'
post_date: 2008-11-23 15:26:16.000000000 -06:00
---
<p style="text-align: left;">Using the Task Manager can show you some interesting things about what's running on your system, but sometimes you have a service going amuck. Task Manager will only show you that "services.exe" is using a lot of CPU and you won't be able to easily tell what's actually running wild.</p>

Enter Process Explorer: (<a href="http://technet.microsoft.com/en-us/sysinternals/bb896653.aspx" target="_blank">info on MS Technet</a> | <a href="http://technet.microsoft.com/en-us/sysinternals/bb896653.aspx">download</a>)

So far, the graph window (see the second screenshot below) has been super helpful to me. I can set the scan interval to a couple seconds, let it run for a while, and come back. The graph not only stores the CPU usage, but also the process that was running! So, you can mouse-over the graph and get historical information about something chewing up CPU, memory, or I/O.

<div style="text-align:center;"><a href="http://www.databasically.com/wp-content/uploads/2008/11/proc_exp-1.jpg"><img class="size-medium wp-image-51 alignnone" title="Process Explorer" src="http://www.databasically.com/wp-content/uploads/2008/11/proc_exp-1-300x217.jpg" alt="" width="300" height="217" style="border: 5px #ddd solid;" /></a></div>

<div style="text-align:center;margin-top: 8px;margin-bottom: 20px;"><a href="http://www.databasically.com/wp-content/uploads/2008/11/proc_exp-2.jpg"><img class="size-medium wp-image-52 alignnone" title="Process Explorer" src="http://www.databasically.com/wp-content/uploads/2008/11/proc_exp-2-300x223.jpg" alt="" width="300" height="223"  style="border: 5px #ddd solid;"/></a></div>
