---
layout: article
title: IE7 update hangs after reboot on SBS 2003
post_date: 2008-10-11
---
While applying service packs for a Windows 2003 SBS today, I installed IE7.  After the requisite reboot, I tried logging in and the usual "Setting up personalized settings for Internet Explorer" dialog came up.
<br><br>
It stayed there.  And stayed there.  It was hung up.
<br><br>
After a little hunting (on my laptop, since the server wasn't going anywhere!), I found this tip that suggested:
<ul>
	<li>Control - Alt - Delete</li>
	<li>Log off</li>
	<li>Log back in</li>
</ul>
And voila!
