---
layout: article
title: ! 'Announcing: Lowdown, a Cucumber feature editing webapp'
post_date: 2009-08-25
---
<div class="mceTemp mceIEcenter"><dl class="wp-caption aligncenter" style="width: 610px;"> <dt class="wp-caption-dt"><img title="Lowdown App" src="/wp-content/images/lowdown-screen.png" alt="" width="600" height="337" /></dt> </dl></div>
An original application completed for <a href="http://r09.railsrumble.com">Rails Rumble 2009</a>.

Lowdown helps keep your development project on track by helping   developers, designers, project managers and owners all focus on   satisfying stakeholders.

Built along with <a href="http://www.prime-motif.com/">Sean Cribbs</a> + <a href="http://www.scottymoon.com/">Scotty   Moon</a> + <a href="http://spurrd.com">Paul  du Coudray</a>

While leading the competition after judges' voting ended, we slipped to 4th place after public voting and ended up taking the "Best Appearance" category, which is fantastic.
