---
layout: article
title: Installing SFTP on Windows 2003 Server
post_date: 2009-01-19
---
I needed to set up a quick FTP server on a Windows server.  I don't like opening FTP ports if I can help it, so I wanted to find a easy SFTP server.  This one is great and super easy to set up:
<br><br>
<a href="http://www.coreftp.com/server/   ">http://www.coreftp.com/server/
</a>
<br><br>
You give it a username and password and a directory where the user should end up. Simple, but effective.
<br><br>
[caption id="attachment_81" align="aligncenter" width="309" caption="CoreFTP setup"]<img class="size-full wp-image-81" title="coreftp-setup" src="http://www.databasically.com/wp-content/uploads/2009/01/coreftp-setup.png" alt="CoreFTP setup" width="309" height="282" />[/caption]
