---
layout: article
title: We have a mailing list!
post_date: 2010-06-10
---
Be sure to sign up for our news and updates by clicking this <a href="http://eepurl.com/zVYp">link</a>.

We'll be sending updates on what we're doing as well as giving valuable tips to make your computing lifestyle a little easier.
