---
layout: article
title: Windows 7 Taking Too Long To Boot?
post_date: 2010-03-01
---
You may like having a picture for your desktop background. You may be minimalist and choose a solid color. If you're the latter, your computer may take about 30 extra seconds to start up. Microsoft has acknowledged this issue and to fix it you can do one of the following:
<ul>
	<li> Change your background back to an image.</li>
	<li>Turn off the Desktop Window Manager. (Note: this will turn off mouse arrow effects)</li>
</ul>
