---
layout: article
title: Kansas City pictures
post_date: 2010-02-25 23:03:51.000000000 -06:00
---
Some fantastic pictures of Kansas City:
<p style="text-align: left;"><a href="http://www.flickr.com/photos/rock_chalk_jhawk_ku/1756456026/"><img class="alignnone" title="Kansas City Skyline at night" src="http://farm3.static.flickr.com/2186/1756456026_b8b7b81730.jpg" alt="" width="500" height="340" /></a></p>
<p style="text-align: left;"></p>
<p style="text-align: left;">The Kansas City skyline at night.  Very nice picture.</p>
<p style="text-align: center;"></p>
<a href="http://www.flickr.com/photos/loaring/2706218878/"><img class="alignnone" title="Kansas City Shuttlecocks" src="http://farm4.static.flickr.com/3199/2706218878_99c378bff1.jpg" alt="" width="500" height="333" /></a>
<p style="text-align: left;">Kansas City's Nelson-Atkins art museum has an installation of four giant shuttlecocks on the lawn.  A great place to take friends for a picture when you're bored.</p>
