---
layout: article
title: ! 'Kansas City Ruby Users: Luke Pillow on Jeweler'
post_date: 2010-03-13 18:56:29.000000000 -06:00
---
<a href="http://twitter.com/lpillow">Luke Pillow</a> present to the Kansas City Ruby Users Group on Jeweler and <span style="text-decoration: line-through;">Gemcutter</span> rubygems.org.

Also, Luke is helping to organize the <a href="http://rubymidwest.com/">Ruby Midwest</a> conference, so you should check that out.
<p style="text-align: center;"><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="500" height="375" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://vimeo.com/moogaloop.swf?clip_id=10138426&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" /><embed type="application/x-shockwave-flash" width="500" height="375" src="http://vimeo.com/moogaloop.swf?clip_id=10138426&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</p>
<a href="http://vimeo.com/10138426">Kansas City Ruby Users Group | March 2010 | Luke Pillow | Jeweler for Rubygems | kcrug.org</a> from <a href="http://vimeo.com/wesgarrison">Wes Garrison</a> on <a href="http://vimeo.com">Vimeo</a>.
