---
layout: article
title: Microsoft Office 2007 Options and About
post_date: 2010-07-20 21:35:03.000000000 -05:00
---
You know how easy it was to look at program information by going to "Help &gt; About"? Or maybe you are used to going to "Tools &gt; Options" Not so easy in Microsoft Office 2007.

Here's how to find "Options":
<ul>
	<li>Click on the orb up at the top left.</li>
	<li>Down at the bottom right click "Word Options".</li>
	<li>Continue on to find "About".</li>
	<li>Now pick "Resources".</li>
	<li>Over on the right you can see an About button.</li>
</ul>
There you go.

Oh and by the way, Microsoft Office 2010 brings back the familiar "File Edit View..." toolbar (albeit in a fancy new design). Still, hooray!
