---
layout: article
title: Google Redirect Virus
post_date: 2010-08-06 20:47:34.000000000 -05:00
---
Otherwise known as the search engine redirect virus.

The symptoms you'll experience are:
<ol>
	<li>Go to your search engine.</li>
	<li>Search for something.</li>
	<li>Click on link to website.</li>
	<li>Get taken away to something completely different!</li>
</ol>
I've experienced this on Google, Yahoo, MSN, Altavista, and many others. It's important to note that most antivirus programs CAN NOT fix this.

But wait, Kaspersky apparently has a fix called TDSSKiller.

IMPORTANT: This fix is quite dangerous. You can kill a computer much too easily by using tools like this improperly.  I'm not linking to the download for just this reason.  Instead, let us help you fix your computer. We take great care in ensuring your data doesn't get lost.
