---
layout: article
title: Gateway timeout with nginx/passenger standalone
post_date: 2011-04-18 15:18:52.000000000 -05:00
---
I needed to run Rails apps with both ruby 1.8.7 and 1.9.2 on the same server.

<a href="http://www.modrails.com/documentation/Users%20guide%20Standalone.html">Passenger Standalone</a> to the rescue!  Setting up my 1.9.2 app as a standalone server and setting it up as proxy to it worked great.

<strong>Until</strong> we had to upload and process some files.  Turns out, the gateway server would timeout, even though the process was still processing on the app server.

The proxing nginx server would reply with "Gateway Timeout 504".

The fix from the nginx documentation: <a href="http://wiki.nginx.org/HttpProxyModule#proxy_read_timeout">proxy_read_timeout</a>

My proxy config after this:

<% code('ruby') do %>
  location / {
    proxy_pass http://127.0.0.1:3010;
    proxy_read_timeout 240s;
  }
</pre>
