---
layout: article
title: Tools we love
post_date: 2011-05-27 03:05:07.000000000 -05:00
---
We spend a lot of time on our computers, so we spend a lot of time trying out new tools.  Here are some of our favorites:
<h2><a href="http://bit.ly/backblaze-db">Backblaze</a></h2>
Backblaze backs your computer up, offsite, automatically.

Killer features:
<ul>
	<li>Protect from your computer crashing</li>
	<li>Restore a file you accidentally delete or change</li>
	<li> Offsite storage</li>
	<li>Unlimited space</li>
	<li>Can encrypt your data if you need/want to</li>
	<li><a href="http://bit.ly/k3dCCb" target="_blank">Locate My Computer</a>, if your computer is lost or stolen, backblaze can help you track it down</li>
</ul>
Cost:
<ul>
	<li>$5 per month per computer</li>
	<li>$50 per year per computer</li>
</ul>
<h2><a href="http://bit.ly/hZ1j0w" target="_blank">Dropbox</a></h2>
<a href="http://bit.ly/hZ1j0w" target="_blank">Dropbox</a> synchronizes files across multiple computers.

Killer features:
<ul>
	<li>Keep folders in synch across multiple computers. No more emailing files to yourself</li>
	<li>Share folders with other people.  For instance, I shared a folder with my bookkeeper to put receipts into, we have a shared folder for work projects, you can share folders with clients to transfer files back and forth</li>
	<li>Public folder. If you want to send a big file to someone and can't email it, you can put the file in your dropbox public folder. That uploads it and you can send a link to the person and they can download it from the dropbox server.</li>
	<li>Mini backup. Files in here are available from the dropbox website, so in a pinch you can login to the Dropbox website and get that presentation you forgot.</li>
</ul>
Cost:
<ul>
	<li>Free, can store up to 2GB</li>
	<li>$10/month for 50GB storage</li>
	<li>$20/month for 100GB storage</li>
</ul>
