---
layout: article
title: Lowdown is now free and open-source
excerpt: !binary |-
  TG93ZG93biBpcyBub3cgb3Blbi1zb3VyY2U=
post_date: 2012-04-09 19:16:03.000000000 -05:00
---
<p>Lowdown was a Rails Rumble project in 2009, aiming to help business owners that want custom software work with developers and designers to get on the same page.</p>

<p>We continued to maintain Lowdown after Rails Rumble, but it's time to let it go live its own life.</p>

<p>So, as of today: </p>

<ol>
<li>Lowdown is now 100% free with unlimited projects and unlimited collaborators. All current and paid subscribers have been converted to the free plan. </li>
<li>Lowdown is now Open Source Software. For more information please visit:  <a href="http://github.com/databasically/lowdown">http://github.com/databasically/lowdown</a></li>
<li>Support for the free hosted version has moved to Github issues. Please see #2 for more information. </li>
<li>We&#8217;ve migrated Lowdown to Heroku. All current projects will be intact, although there may be minor (if any) disruption in service as DNS propagates. Thanks for your patience.</li>
</ol>

<p>Thanks for trying/using Lowdown! If you're interested in participating in the OS version, please contact us: <a href="http://twitter.com/databasically">@databasically</a></p>
