---
layout: article
title: ! 'What''s new in Ruby: October 2012 edition'
post_date: 2012-10-09
---
Every month, <a href="http://meetup.com/kcruby">Kansas City Ruby</a> (#kcruby) reviews a subset of Peter Cooper's fantastic <a href="http://rubyweekly.com/?utm_source=databasically">Ruby Weekly</a> selections, along with other items picked up around the web.

<h4><a href="http://railsrumble.com/" target="_blank">Rails Rumble 2012</a></h4>
<p><blockquote>The Rails Rumble is a distributed programming competition where teams of one to four people, from all over the world, have 48 hours to build an innovative web application, with Ruby on Rails or another Rack-based Ruby web framework. After the 48 hours are up, a panel of expert judges will pick the top ten winners.</blockquote></p>
<p>Registration is closed, but there are some people around that signed up, so if you want to hop on a team, ask around.</p>

<h4><a href="http://chrismccord.github.com/labrador/" target="_blank">Labrador</a></h4>
<p>
<img src="http://s3.amazonaws.com/nlga/uploads/item/image/5512/thumb_labrador.png" alt="Labrador" style="float:right"/>
<blockquote>Labrador is a web-based, database (agnostic) client for your development needs. With pow integration and automatic database connections, you'll be browsing your postgres, mongodb, mysql, and sqlite databases after a single shell command.</blockquote>
</p>

<h4><a href="https://github.com/rails/turbolinks" target="_blank">Turbolinks: Rails 4 to Get Ajax-based Page Loading by Default</a></h4>
<p>David Heinemeier Hansson has unveiled a pjax-a-like Ajax-based full page replacement library that will 'ship as default-on in Rails 4.0.' Worth investigating.</p>

<h4><a href="http://blog.steveklabnik.com/posts/2012-09-22-resque--let-s-do-this" target="_blank">Rescuing Resque: Let's Do This</a></h4>
<p>Steve Klabnik puts out the call for folks to get involved with revitalizing the popular Resque project. If you've been itching to help out on a popular Ruby project, here's a bat signal.
</p>

<h4><a href="http://devblog.avdi.org/2012/09/24/rubytapas-episode-1-binary-literals/" target="_blank">RubyTapas Episode 1: Binary Literals</a></h4>
<p>Avdi Grimm (of Exceptional Ruby fame) has launched a new subscription service focused around short Ruby screencasts. Here's episode 1 which he's offering as a sample</p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

