---
layout: article
title: ! 'What''s new in Ruby: September 2012 edition'
post_date: 2012-09-11 20:29:43.000000000 -05:00
---
Every month, <a href="http://meetup.com/kcruby">Kansas City Ruby</a> (#kcruby) reviews a subset of Peter Cooper's fantastic <a href="http://rubyweekly.com/?utm_source=databasically">Ruby Weekly</a> selections, along with other items picked up around the web.

<h4><a href="http://weblog.rubyonrails.org/2012/8/9/ann-rails-3-2-8-has-been-released/" target="_blank">Rails 3.2.8 Released: important security fixes</a></h4>
<p>


<blockquote>This version contains three important security fixes, please upgrade immediately.

<ul><li>CVE-2012-3463 Ruby on Rails Potential XSS Vulnerability in select_tag prompt</li>
<li>CVE-2012-3464 Potential XSS Vulnerability in Ruby on Rails</li>
<li>CVE-2012-3465 XSS Vulnerability in strip_tags</li></ul>

<p style="padding-top:8px">One of security fixes impacts all users and is related to HTML escaping code. The other two fixes impacts people using select_tag's prompt option and strip_tags helper from ActionPack.</p>

We are also removing all the deprecation warnings that we introduced in 3.2.x. We have decided to stop introducing API deprecations in all point releases going forward. From now on, it'll only happen in majors/minors.</blockquote>
</p>

<h4><a href="http://spin.atomicobject.com/2012/08/20/using-thor-to-build-a-command-line-interface/" target="_blank">User Thor to Build a Command Line Interface</a></h4>
<p>
For instance, this <a href="https://gist.github.com/3295184" target="_blank">gist</a> builds a basic command line ruby program with commands and options.
</p>

<h4><a href="http://gembundler.com/v1.2/whats_new.html" target="_blank">Bundler 1.2 Released</a></h4>
<h5>Specify the Ruby version and/or engine you want</h5>
<p>
<pre name="code" class="ruby">ruby "1.9.3", :engine => "jruby", :engine_version => "1.6.7"</pre>
</p>

<h5>Package :git and :path Dependencies</h5>
<p>
<pre name="code" class="ruby">bundle package --all</pre>
The bundle package command can also package :git and :path dependencies besides .gem files. This needs to be explicitly enabled via the --all option. Once used, the --all option will be remembered.
</p>

<h5>Local Git Repos</h5>
<p><blockquote>Now when developing against a remote git repository, you can use a local git repo and keep the remote version for deployment. You can do this by setting a local git override:
<pre name="code" class="ruby">bundle config local.GEM_NAME /path/to/local/git/repository</pre></blockquote>

Then, you can use your local development copy with a standard command:
<pre name="code" class="ruby">gem 'rack', :github => 'rack/rack', :branch => 'master'</pre>
</p>


<p>
For a full list, check out the <a href="https://github.com/carlhuda/bundler/blob/1-2-stable/CHANGELOG.md" target="_blank">Bundler 1.2 release CHANGELOG</a></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>

<h4><a href="" target="_blank"></a></h4>
<p></p>
