---
layout: article
title: ! 'What''s New in Ruby: June 2013'
post_date: 2013-06-11 22:58:45.000000000 -05:00
---
Every month, <a href="http://meetup.com/kcruby">Kansas City Ruby</a> (#kcruby) reviews a subset of Peter Cooper's fantastic <a href="http://rubyweekly.com/?utm_source=databasically">Ruby Weekly</a> selections, along with other items picked up around the web.

http://www.ruby-lang.org/en/news/2013/05/14/ruby-2-0-0-p195-is-released/

<h4><a href="http://www.ruby-lang.org/en/news/2013/05/14/ruby-2-0-0-p195-is-released/" target="_blank">Ruby 2.0.0p195 released</a></h4>
<p>The first patchlevel release of 2.0.0. It includes a security fix of Ruby DL / Fiddle extension, along with some bug fixes and optimizations, mostly listed here.
</p>


<h4><a href="http://blog.rubymotion.com/post/49943751398/rubymotion-goes-2-0-and-gets-osx-support-templates-and" target="_blank">RubyMotion Goes 2.0 And Gets OSX Support, Templates and Plugins</a></h4>
<p>RubyMotion celebrates its first birthday with a version 2.0 release. The most significant update is you can now use the originally iOS-only toolkit for building regular OS X apps.
</p>

<h4><a href="http://joshnuss.github.io/mruby-web-irb/" target="_blank">mruby: web irb</a></h4>
<p>mruby is written in C and normally compiles to x86 or ARM byte code. Here its been compiled to JavaScript, using llvm and emscripten. The JavaScript produced is compatible with asm.js, which helps your browser's JavaScript VM run the code more efficiently.
</p>

<h4><a href="https://github.com/blog/1517-introducing-octokit" target="_blank">Introducing Octokit: GitHub-maintained Client Libraries for the GitHub API</a></h4>
<p>
Octokit.rb: <a href="https://github.com/octokit/octokit.rb">https://github.com/octokit/octokit.rb</a><br>
Octokit.objc: <a href="https://github.com/octokit/octokit.objc">https://github.com/octokit/octokit.objc</a>
</p>

<h4><a href="http://confreaks.com/events/railsconf2013" target="_blank">RailsConf 2013 Videos</a></h4>
<p>All 70 videos from RailsConf 2013 are now available to watch if you didn't make it to the conference.
</p>

<h4><a href="https://github.com/databasically/kcruby-rtanque/blob/master/README.md" target="_blank">KC Ruby RTanque League</a></h4>
<p>
We need your help getting the word out to Kansas City based programmers!  Please help us out with publicizing!
</p>
