---
layout: article
title: ! 'What''s New In Ruby: May 2013 edition'
post_date: 2013-05-14 22:14:27.000000000 -05:00
---
Every month, <a href="http://meetup.com/kcruby">Kansas City Ruby</a> (#kcruby) reviews a subset of Peter Cooper's fantastic <a href="http://rubyweekly.com/?utm_source=databasically">Ruby Weekly</a> selections, along with other items picked up around the web.


<h4><a href="https://github.com/jamesmoriarty/scorched-earth-rb" target="_blank">A Scorched Earth Game in Ruby with OpenGL/Gosu/Chingu</a></h4>
<p>Scorched Earth is an artillery style game (a la Gorillas that came with QBasic) and its mechanic has been elegantly recreated in Ruby here by James Moriarty.
</p>

<h4><a href="https://github.com/ruby/ruby/blob/1e8a05c1dfee94db9b6b825097e1d192ad32930a/string.c#L7770-L7783" target="_blank">String#scrub Method Added to Edge Ruby (Ruby 2.1)</a></h4>
<p>If the string includes an invalid byte sequence for the encoding, #scrub replaces invalid bytes with a given replacement character.
</p>

<h4><a href="https://github.com/janfoeh/paperclip-optimizer" target="_blank">PaperclipOptimizer: Minify JPEG and PNG Attachments Received via Paperclip</a></h4>
<p>A processor for Paperclip that allows you to optimize and minify uploaded JPG, PNG or GIF images by wrapping around ImageOptim.
</p>

<h4><a href="http://nathanmlong.com/2013/05/better-single-table-inheritance/" target="_blank">Better Single-Table Inheritance through Model Delegation</a></h4>
<p>Put common attributes in a single table, non-shared attributes in separate tables with foreign key references, and use object delegation so that each model transparently pulls what it needs from both.
</p>

<h4><a href="http://blog.parkermoore.de/2013/05/06/jekyll-1-dot-0-released/" target="_blank">Popular Ruby-based Static Site Generator Jekyll Reaches 1.0 </a></h4>
<p>
</p>

<h4><a href="http://railscasts.com/episodes/415-upgrading-to-rails-4" target="_blank">Railscasts: Upgrading to Rails 4</a></h4>
<p>
With the recent release of Rails 4.0.0 Release Candidate 1, it's time to try it out and report any bugs. Here, Ryan Bates walks us through the steps to upgrade a Rails 3.2 application to Rails 4.0. 
</p>

<h4><a href="http://blog.phusion.nl/2013/05/06/phusion-passenger-4-0-1-final-release/" target="_blank">Phusion Passenger 4.0.1 released</a></h4>
<p>


<blockquote>So reassured of its quality, the Phusion crew decided to leap straight to a more trustworthy 4.0.1 for the first stable release of Passenger 4, the popular Nginx and Apache deployment and server module for Rack apps.</blockquote>


</p>
