---
layout: article
title: Misleading people with statistics
post_date: 2014-01-04
---
<br><br>
<p>One could read this graph and think "wow, the war on drugs means we are putting more people in jail"</p>

<blockquote class="twitter-tweet" lang="en"><p>Helpful visual re: spike in incarceration after the declared &quot;war on drugs&quot; <a href="http://t.co/uTWpzr4Kuy">pic.twitter.com/uTWpzr4Kuy</a></p>&mdash; Prison Culture (@prisonculture) <a href="https://twitter.com/prisonculture/statuses/419185019379122176">January 3, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<p>That's true, but it's misleading. Showing absolute numbers for population changes over time don't really tell you anything (unless you actually showing the population change over time!)</p>

<p>Instead, this should be per capita: what percent of our population was in jail?  That's a much more meaningful statistic because we're interested in the relative change over time, not the absolute change. </p>

<p>As they say, everything is relative.</p>