---
layout: article
---
%h2
  Archive

.list-group
  - page_articles[0,8].each_with_index do |article, i|
    %a.list-group-item{:href => article.url}
      %h4.list-group-item-heading
        = article.title
      %p.list-group-item-text
        = article.date.strftime('%b %e %Y')
