---
title: Databasically
---

.span9
  %section#masthead
    %h1 AT DATABASICALLY
    %h1 WE BUILD
    %h1 BULLETPROOF WEB APPLICATIONS
    %h1 FOR STARTUPS
    %h1 AND LARGE COMPANIES
  / EXPERTISE
  %section#expert
    %h1 We Are Experts.
    .row.do
      .span3
        %img{:alt => "", :src => "http://lorempixel.com/g/350/250/technics?1"}/
        %h4 Bold Explorers
        %p We like to push the boundaries of what is possible. We look at obstacles as opportunities.
      .span3
        %img{:alt => "", :src => "http://lorempixel.com/g/350/250/technics?2"}/
        %h4 Story Tellers
        %p Every project has a story. We dig deep into the characters and write amazing chapters of creative works.
      .span3
        %img{:alt => "", :src => "http://lorempixel.com/g/350/250/technics?3"}/
        %h4 Game Changers
        %p There's nothing like being the first to do something. To be different than the rest of the pack. We can help you do that.
  %section#mission
    %h1 Our mission.
  / PORTFOLIO
  %section#work
    %h1 Our Work.
    / Start Portfolio
    / Start Portfolio Navigation
    %nav.primary.m-btn-group.toggle-buttons.clearfix
      %ul
        %li
          %a.selected{"data-filter" => "*", :href => "#"} All
        %li
          %a{"data-filter" => ".web", :href => "#"} Web Design
        %li
          %a{"data-filter" => ".ill", :href => "#"} Illustration
        %li
          %a{"data-filter" => ".logo", :href => "#"} Logo
        %li
          %a{"data-filter" => ".video", :href => "#"} Video
    / START Portfolio items
    .clearfix
      .portfolio
        %figure.entry.web
          %a{:href => "portfolio_detail.html"}
            %img{:alt => "", :src => "/images/portfolio-image.jpg"}/
        %figure.entry.web
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image2.jpg"}/
        %figure.entry.logo
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image4.jpg"}/
        %figure.entry.web
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image6.jpg"}/
        %figure.entry.print
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image5.jpg"}/
        %figure.entry.ill
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image2.jpg"}/
        %figure.entry.web.ill.logo
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image4.jpg"}/
        %figure.entry.print.logo
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image6.jpg"}/
        %figure.entry.video.logo
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image3.jpg"}/
        %figure.entry.web.print
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image5.jpg"}/
        %figure.entry.video.print
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image.jpg"}/
        %figure.entry.web
          %a{:href => "#"}
            %img{:alt => "", :src => "/images/portfolio-image4.jpg"}/
    / End PORTFOLIO
  / ABOUT
  %section#about
    %h1 Who We Are.
    .row
      .span3
        %a.member{:href => "index.html#contact"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?1"}/
        %h4 Roxanne Littlefoot
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "#contact"} Contact
      .span3
        %a.member{:href => "index.html#contact"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?2"}/
        %h4 Reggie Snake
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "index.html#contact"} Contact
      .span3
        %a.member{:href => "team_example.html"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?3"}/
        %h4 Lucille Lou
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "index.html#contact"} Contact
      .span3
        %a.member{:href => "index.html#contact"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?4"}/
        %h4 Evan Creamtop
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "index.html#contact"} Contact
      .span3
        %a.member{:href => "index.html#contact"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?5"}/
        %h4 Piston Honda
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "index.html#contact"} Contact
      .span3
        %a.member{:href => "index.html#contact"}
          %img{:alt => "", :src => "http://lorempixel.com/350/250/people?6"}/
        %h4 Brian Cosgrove
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget neque quis ligula tempus bibendum
        %p
          %a.m-btn.blue.btn-block{:href => "index.html#contact"} Contact
  / CONTACT
  %section#contact
    %h1 Hello There.
    / CONTACT
    .row
      / MAP
      #map.container.hidden-phone
    #form
      %h3 Contact Form
      %form#contact-form{:action => "sendmail.php", :method => "post"}
        %fieldset
          .row
            .holder.span8
              .message
                .top
                .contents
                  #alert
                .bottom
            .field.span8
              %input#name.input-text.m-wrap.m-ctrl-large{:name => "name", :placeholder => "Your Name", :type => "text", :value => ""}/
            .field.span8
              %input#email.input-text.m-wrap.m-ctrl-large{:name => "email", :placeholder => "Your Email Address", :type => "text", :value => ""}/
            .field.span8
              %textarea#message.input-textarea.m-wrap.m-ctrl-large{:name => "message", :placeholder => "Your Message"}
            .field.span8
              %input.m-btn.blue{:type => "submit", :value => "Submit"}/
