---
layout: portfolio
title: ! 'Portfolio'
---
%body
  .navbar.navbar-static-top
    .navbar-inner
      .container
        %a.navbar-brand{:href => "#"}
          %img{:alt => "logo", :src => "/images/databasically-logo-with-text.png"}/
        %ul.nav.pull-right
          %li
            %a{:href => "index.html"} <- go back
  .container
    .row.main-features
      .span2
        %span.label.label-success OVERVIEW
      .span6
        %h2
          CHILDREN'S DOCUMENTARY NETWORK SERVES EDUCATIONAL DOCUMENTARIES TO OVER
          1 MILLION CHILDREN EACH MONTH, PROVIDING INFORMATIVE AND ENGAGING CONTENT
          TO AN AUDIENCE THAT DEMANDS AN INTUITIVE AND RESPONSIVE INTERFACE.
      .span4
        %img{:src => "//app.divshot.com/img/placeholder-100x100.gif", :width => "350"}/
    %hr/
    .row.main-features
      .span2
        %span.label.label-success IMPACT
      .span10
        .hero-unit
          %h2
            "They not only built a bulletproof app, they helped us figure out what
            to build in the first place. Without Databasically, our company would have
            failed."
          %p Happy Customer, CEO &amp; Founder
          %p
    %hr/
    .row.main-features
      .span2
        %span.label.label-success PROBLEM
      .span6
        %p
          Children's educational programming has hit an all-time low because it
          is not engaging or interesting. CDN came to us with a concept to allow
          viewers to explore documentary content in the order that most interested
          them so they would stick with content through multiple segments.
      .span4
        %h5 Required services
        %ul
          %li Startup hypothesis and testing
          %li Startup risk management methodologies
          %li Data driven technical development
    %hr/
    .row.main-features
      .span2
        %span.label.label-success SOLUTION
      .span6
        %p
          We built a full-featured support platform that has everything small businesses
          need to offer awesome customer support, and nothing that they don’t. Using
          Ruby on Rails to build the server-side ticketing functionality and Node.js
          for real-time chat, we crafted a beautiful interface that users rave about.
      .span4
        %h5 Technologies
        %ul
          %li Ruby on Rails
          %li Node.js
          %li Amazon S3
          %li Akamai CDN
          %li Heroku
    %hr/
    .row.main-features
      .span2
        %span.label.label-success RESULTS
      .span6
        %p
          Just a few months after Groove's initial funding, we released the app
          in private beta and saw more than 1,000 beta signups in the first week.
          Groove’s subsequent successful public launch was covered by TheNextWeb,
          and the startup continues to grow, with customers switching daily from
          its largest competitors.
      .span4
        %h5 Milestones
        %ul
          %li Completed on-time
          %li Delivered on-budget
          %li
            ROI:
            %b 1 month
